/* stylelint-disable */

$body-bg: darkslategrey;

/* Tiles */
$tile-border-bg: black;
$tile-bg--wood: #4c2a12;
$tile-bg--stone: gray;
$tile-bg--iron: lightslategray;
$tile-bg--gold: gold;
$tile-bg--food: pink;
$tile-bg--mana: darkblue;
$tile-bg--coal: #36454f;
$tile-bg--blood: #8a0303;


/* Fortress */
$fortress-bg: lightgray;
/* stylelint-enable */
