/* stylelint-disable */

$body-bg: darkslategrey;

/* Tiles */
$tile-border-bg: black;
$tile-bg--wood: brown;
$tile-bg--stone: gray;
$tile-bg--iron: lightslategray;
$tile-bg--gold: gold;
/* stylelint-enable */
