/* stylelint-disable */
$graphite: #2A2708;
$stonewall: #928573;
$beaver: #896552;
$gold: #FFD700;
$iron: #D4D7D9;
$charcoal: #36454F;
$blood: #8a0303;
$eastbay: #3C4777;
$cod-gray: #0f0f0e;
$tuatara: #292927;

/* General */
$body-bg: darkslategrey;

/* Tiles */
$tile-bg: $cod-gray;
$tile-border-bg: black;
$tile-bg--wood: $graphite;
$tile-bg--stone: $stonewall;
$tile-bg--iron: $iron;
$tile-bg--gold: $gold;
$tile-bg--food: $beaver;
$tile-bg--mana: $eastbay;
$tile-bg--coal: $charcoal;
$tile-bg--blood: $blood;
$tile-bg--start: white;


/* Fortress */
$fortress-bg: lightgray;

/* Player */
$player-bg-border: red;

/* Commands */
$dice-text-bg: white;

/* Purchase panel */
$purchase-panel-bg: black;

/* Buildings */
$building-radial-bg: $tuatara;
$building-indicator-bg: black;
/* stylelint-enable */
