.dice {
  &__icon {
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  &__round {
    color: $resources-text-fg;
    font-size: 1em;
    margin: 5px 0;

    @include mq-desktop {
      font-size: 1.5em;      
    }
  }
  
  &__last-roll {
    background-color: $dice-text-bg;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    width: 50px;
  }
}
