.sidebar {
  display: flex;
  flex-direction: column;
}

.save {
  &__actions {
    display: flex;
    flex-direction: column;
  }
}

@import "./dice";
@import "./tragedy-overview";
@import "./resources-overview";
