.sidebar {
  flex-direction: column;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.save {
  &__button {
    background-color: $save-button-bg;
    border: 1px solid $save-button-border;
    border-radius: 3px;
    color: $save-button-text;
    height: 30px;
    margin: 10px;
  }
}

@import "./dice";
@import "./tragedy-overview";
@import "./resources-overview";
@import "./build-overview";
