.sidebar {
  flex-direction: column;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__order-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include mq-desktop {
      display: unset;
      flex-direction: unset;
      justify-content: unset;
    }
  }
}

.save {
  &__button {
    background-color: $save-button-bg;
    border: 1px solid $save-button-border;
    border-radius: 3px;
    color: $save-button-text;
    height: 30px;
    margin: 10px 10px 0 10px;
    width: calc(100% - 20px);
  }
}

@import "./dice";
@import "./tragedy-overview";
@import "./resources-overview";
@import "./stats-overview";
@import "./build-overview";
