.stats-overview {
  &__list {
    color: $resources-text-fg;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 70px;
  }
  
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 30px;
  }
}
