.tragedy-overview {
  display: flex;
  justify-content: center;

  &__image {
    width: 40px;

    @include mq-desktop {
      width: 100px;
    }

    &--hidden {
      visibility: hidden;
    }
  }
}
