$topBarHeight: 1.3em;

.purchase-panel {
  &__top-bar {
    display: flex;
    justify-content: space-between;
  }

  &__stats-icon {
    width: $topBarHeight;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__building-icon {
    width: 70px;
  }

  &__building-name {
    display: flex;
    justify-content: center;
  }

  &__button {
    margin-top: 10px;
  }

  &__cost {
    list-style: none;
    padding: 0 0 0 5px;
  }

  &__close {
    margin-bottom: 15px;
  }

  &__header {
    font-size: $topBarHeight;
    margin: 0;
  }
}

.cost {
  &__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 30px;
  }
}
