.command {
  margin: 20px 0;

  &__icon {
    height: 40px;
    width: 40px;
  }
}

.command-bar {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 200px;
}

.dice {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__icon {
    cursor: pointer;
  }
  
  &__last-roll {
    background-color: $dice-text-bg;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    width: 50px;
  }
}

.resources-overview {
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  &__item {
    display: flex;
    justify-content: space-between;
  }
}
