.command {
  cursor: pointer;
  margin: 20px 0;

  &__icon {
    height: 40px;
    width: 40px;
  }
}

.command-bar {
  display: flex;
  flex-direction: column;
}

.dice {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__last-roll {
    background-color: $dice-text-bg;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    width: 40px;
  }
}
