.tile {
  align-items: center;
  display: flex;
	flex-grow: 1;
  justify-content: center;
  outline: 1px solid $tile-border-bg;
  position: relative;

  &--wood {
    background-color: $tile-bg--wood;
  }

  &--gold {
    background-color: $tile-bg--gold;
  }

  &--stone {
    background-color: $tile-bg--stone;
  }

  &--iron {
    background-color: $tile-bg--iron;
  }

  &--food {
    background-color: $tile-bg--food;
  }

  &--mana {
    background-color: $tile-bg--mana;
  }

  &--coal {
    background-color: $tile-bg--coal;
  }

  &--blood {
    background-color: $tile-bg--blood;
  }

  &--start {
    background-color: $tile-bg--start;
  }

  &--corner {
    flex-direction: column;
    flex-grow: 2;
    outline: 1px solid $tile-border-bg;
    position: relative;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    left: 0;
    line-height: 1vw;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12%;
  }

  &__player {
    top: 30%;
  }
}
