.tile {
  align-items: center;
  background-color: $tile-bg;
  background-repeat: no-repeat;
  display: flex;
	flex-grow: 1;
  justify-content: center;
  outline: 1px solid $tile-border-bg;
  position: relative;

  &--bottom {
    background-position: bottom center;
    background-size: 80%;
  }

  &--top {
    background-position: top center;
    background-size: 80%;
  }

  &--left {
    background-position: left center;
  }

  &--right {
    background-position: right center;
  }

  &--wood {
    background-image: url("assets/icons/forest.svg");
  }

  &--gold {
    background-image: url("assets/icons/two-coins.svg");
  }

  &--stone {
    background-image: url("assets/icons/stone-block.svg");
  }

  &--iron {
    background-image: url("assets/icons/ore.svg");
  }

  &--food {
    background-image: url("assets/icons/wheat.svg");

  }

  &--mana {
    background-image: url("assets/icons/vortex.svg");
  }

  &--coal {
    background-image: url("assets/icons/brick-pile.svg");
  }

  &--blood {
    background-image: url("assets/icons/bloody-stash.svg");
  }

  &--start {
    background-image: url("assets/icons/direction-signs.svg");
  }

  &--tragedy {
    background-image: url("assets/icons/tear-tracks.svg");
  }

  &--sacred_grounds {
    background-image: url("assets/icons/tumulus.svg");
  }

  &--construction-site {
    background-image: url("assets/icons/hand-saw.svg");
  }

  &--fire_fountain {
    background-image: url("assets/icons/fire-ring.svg");
  }

  &--corner {
    background-size: initial;
    flex-direction: column;
    flex-grow: 2;
    outline: 1px solid $tile-border-bg;
    position: relative;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    left: 0;
    line-height: 1vw;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12%;
  }

  &__player {
    top: 30%;
  }
}
