.app {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;

  &__sidebar {
    flex-grow: 1;

    &--visible {
      display: flex;
    }

    &--hidden {
      display: none;
    }
  }

  &__board {
    flex-grow: 22;
  }

  &__toggle-sidebar {
    background-color: $toggle-cbar-btn-bg;
    border: none;
    color: $toggle-cbar-btn-fg;

    &::-moz-focus-inner {
      border: 0;
    }
    &:focus {
      outline: none;
    }

    @include mq-desktop {
      display: none;
    }
  }

  @include mq-desktop {
    height: 50vw;
    margin: 10px auto;
    width: 80vw;
  }
}
