@import "../style/colors";
@import "../style/helpers";

.body {  
  background-color: $body-bg;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

.main {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;

  &__sidebar {
    flex-grow: 1;

    &--visible {
      display: flex;
    }

    &--hidden {
      display: none;
    }
  }

  &__board {
    flex-grow: 22;
  }

  &__toggle-sidebar {
    background-color: $toggle-cbar-btn-bg;
    border: none;
    color: $toggle-cbar-btn-fg;

    &::-moz-focus-inner {
      border: 0;
    }
    &:focus {
      outline: none;
    }

    @include mq-desktop {
      display: none;
    }
  }

  @include mq-desktop {
    height: 50vw;
    margin: 10px auto;
    width: 80vw;
  }
}

// stylelint-disable-next-line
ux-dialog-overlay.active {
  background-color: $dialog-overlay-bg;
  opacity: 0.5;
}

@import "./board/index";
@import "./player/player";
@import "./sidebar/index";
@import "./buildings/index";
@import "./monster/index";
