@import "../style/colors";

.body {
  background-color: $body-bg;
  margin: 0;
  user-select: none;
}

.main {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;

  &__command-bar {
    flex-grow: 1;
  }

  &__board {
    flex-grow: 22;
  }

  &__toggle-command-bar {
    background-color: $toggle-cbar-btn-bg;
    border: none;
    color: $toggle-cbar-btn-fg;

    &::-moz-focus-inner { 
      border: 0;
    }
    &:focus { outline: none; }

    @media (min-width: 1281px) { 
      display: none;
    }
  }

  @media (min-width: 1281px) { 
    height: 50vw;
    margin: 10px auto;
    width: 80vw;
  } 
}

@import "./board/index";
@import "./player/player";
@import "./commands/index";
@import "./buildings/index";
