@import "../style/colors";

.body {
  background-color: $body-bg;
  margin: 0;
  user-select: none;
}

.main {
  display: flex;
  height: 50vw;
  margin: 10px auto;
  width: 80vw;

  &__command-bar {
    flex-grow: 1;
  }

  &__board {
    flex-grow: 22;
  }
}

@import "./board/index";
@import "./player/player";
@import "./commands/index";
@import "./buildings/index";
