.monster {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;

  &__icon {
    height: 4vw;
    width: 4vw;
  }

  &__stats-container {
    color: $monster-stats-color;
    position: absolute;
    top: 73%;
    width: 100%;
  }

  &__stat {
    border: 2px solid $monster-stat-border;
    border-radius: 30%;
    font-size: 1.2vh;
    height: 2vh;
    line-height: 2vh;
    text-align: center;
    width: 2vh;

    &--hp {
      background-color: $monster-hp-bg;
      float: left;
    }

    &--dmg {
      background-color: $monster-dmg-bg;
      float: right;
    }
  }
}
